html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.alignCenter {
  text-align: center;
}

.containerH {
  gap: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerV {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bordered {
  border: solid 1px teal;
}
.description {
  margin: 0;
  padding: 0.5em;
  background-color: teal;
  color: white;
}

button {
  box-shadow: 3px 3px 3px rgb(0, 47, 47);
  border: 0;
  background-color: teal;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}

button:hover {
  color: black;
}

.btnRetour {
  max-width: fit-content;
}

form {
  text-align: center;
}
