html,
body {
  background-color: white;
  padding: 0;
  padding-bottom: 3em;
  margin: 0;
  color: teal;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: rgb(0, 25, 25);
  }
  body {
    background: rgb(0, 25, 25);
  }
  input {
    background: rgb(0, 25, 25);
  }
}

.alignCenter {
  text-align: center;
}

.containerH {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerV {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bordered {
  border: solid 1px teal;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: teal;
  border-radius: 2em;
}
.description {
  margin: 0;
  padding: 0.5em;
  background-color: teal;
  color: white;
  border-radius: 2em;
}
.image {
  margin: 0.5em;
  border-radius: 2em;
}
video {
  margin: 2%;
  width: 96%;
  max-width: 350px;
  border-radius: 1em;
}

input {
  padding: 1em;
  min-width: 10em;
  margin: 0.5em;
  border-radius: 2em;
  border: 1px solid rgb(0, 75, 75);
}

button {
  box-shadow: 3px 3px 3px rgb(0, 75, 75);
  border: 1px solid white;
  background-color: teal;
  color: white;
  padding: 1em;
  min-width: 7em;
  margin: 0.5em;
  border-radius: 2em;
}

.btnRetour {
  max-width: fit-content;
}

form {
  text-align: center;
}

table {
  background-color: teal;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid teal;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}
thead th {
  color: black;
  background-color: teal;
  border: 1px solid black;
}
tbody tr:nth-child(odd) {
  color: black;
  background-color: gainsboro;
}

tbody tr:nth-child(even) {
  color: black;
  background-color: white;
}

th,
td {
  padding: 0.5em;
  border: 1px solid teal;
}

.remplissage {
  width: 50em;
}
